### Importação de bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Visualização dos municípios do semiárido

In [5]:
# Lista dos municípios semiáridos
df_cities pd.read_csv('../../Dados/Municipios/lista-1262municipios-semiarido-2017.csv', sep=',')
df_municipios.head()

   id  Cod IBGE  UF    Município População Estimada - 2017
0   1   2700102  AL  ÁGUA BRANCA                     20467
1   2   2700300  AL    ARAPIRACA                    234185
2   3   2700706  AL      BATALHA                     18757
3   4   2700904  AL   BELO MONTE                      6797
4   5   2701209  AL  CACIMBINHAS                     10897

In [10]:
# Legenda com a sigla correspondente de cada coluna do dataset df_indices
df_legenda = pd.read_csv('../../Dados/Registros_Administrativos/dados_registros_administrativos_LEGENDA.csv', sep=',')
df_legenda.head(70)

,SIGLA,NOME DO INDICADOR,DEFINIÇÃO
0,PMATPUB_EF,Percentual de matrículas da rede pública no en...,Participação percentual das matrículas na rede...
1,PMATPUB_EM,Percentual de matrículas da rede pública no en...,Participação percentual das matrículas na rede...
2,PMATPRI_EF,Percentual de matrículas da rede privada no en...,Participação percentual das matrículas na rede...
3,PMATPRI_EM,Percentual de matrículas da rede privada no en...,Participação percentual das matrículas na rede...
4,DIST_EF_TOTAL,Taxa de Distorção Idade-Série no fundamental,Participação percentual dos alunos que frequen...
...,...,...,...
65,SNIS_PESGOTO,Percentual da população urbana residente em do...,Corresponde ao percentual da população urbana ...
66,SNIS_PESGTRA,Percentual de esgoto tratado,Percentual de esgoto que foi submetido a trata...
67,SNIS_PCOLSEl,Existência de coleta seletiva,Ocorrência do serviço de coleta seletiva de re...
68,SNIS_CDI,Percentual da população urbana atendida por se...,Corresponde ao percentual da população urbana ...
69,PFOCOS,Concentração dos focos de calor,Corresponde a participação do município no tot...

In [7]:
df_indices = pd.read_csv('../../Dados/Registros_Administrativos/dados_registros_administrativos_total_2012_2027.csv', sep=',')
df_indices

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
0,2013,TOTAL,1100015,Alta Floresta D&apos;Oeste,99.26,100.00,0.74,NaN,25.8,29.6,...,100.0,0.51,66.02,20.00,0.0,NaN,NaN,NaN,NaN,25728
1,2013,TOTAL,1100023,Ariquemes,91.12,94.80,8.88,5.20,24.5,27.1,...,100.0,0.49,34.67,7.69,0.0,NaN,NaN,NaN,NaN,101269
2,2013,TOTAL,1100031,Cabixi,100.00,100.00,NaN,NaN,18.1,18.7,...,100.0,0.13,32.01,11.11,0.0,NaN,NaN,NaN,NaN,6495
3,2013,TOTAL,1100049,Cacoal,85.55,82.90,14.45,17.10,19.3,24.6,...,100.0,0.13,37.07,8.33,0.0,NaN,NaN,NaN,NaN,85863
4,2013,TOTAL,1100056,Cerejeiras,97.18,97.47,2.82,2.53,21.1,21.1,...,NaN,0.19,63.12,0.00,0.0,NaN,NaN,NaN,NaN,18041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27845,2017,TOTAL,5222005,Vianópolis,94.55,100.00,5.45,NaN,17.6,17.3,...,100.0,0.02,24.14,11.11,0.0,NaN,NaN,NaN,NaN,13675
27846,2017,TOTAL,5222054,Vicentinópolis,100.00,100.00,NaN,NaN,17.6,18.2,...,100.0,0.07,16.75,0.00,0.0,NaN,NaN,NaN,NaN,8397
27847,2017,TOTAL,5222203,Vila Boa,100.00,100.00,NaN,NaN,25.7,34.5,...,NaN,0.16,52.27,33.33,0.0,NaN,NaN,NaN,NaN,5731
27848,2017,TOTAL,5222302,Vila Propício,100.00,100.00,NaN,NaN,17.2,27.4,...,NaN,0.33,45.80,11.11,0.0,NaN,NaN,NaN,NaN,5690
27849,2017,TOTAL,5300108,Brasília,73.62,74.95,26.38,25.05,16.7,24.6,...,100.0,1.25,51.32,NaN,NaN,NaN,NaN,NaN,NaN,3039444