In [2]:
import pandas as pd

In [6]:
df_m = pd.read_csv('../../Dados/Municipios/municipios.csv', sep=',')
df.head()

   codigo_ibge                 nome  latitude  longitude  codigo_uf
0      5200050      Abadia de Goiás -16.75730   -49.4412         52
1      3100104  Abadia dos Dourados -18.48310   -47.3916         31
2      5200100            Abadiânia -16.19700   -48.7057         52
3      3100203               Abaeté -19.15510   -45.4444         31
4      1500107           Abaetetuba  -1.72183   -48.8788         15

In [ ]:
df_municipios = df[['nome', 'latitude', 'longitude']]