In [382]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [383]:
municipios = pd.read_excel("Dados/Municipios/lista-1262municipios-semiarido-2017.xlsx")
municipios = municipios.rename(columns=municipios.iloc[1])
municipios = municipios.drop([0, 1]).reset_index(drop=True)
municipios = municipios.drop('#', axis=1).reset_index(drop=True)

In [389]:
idh_tot = pd.read_csv("Dados/Registros Administrativos/dados_registros_administrativos_total_2012_2017.csv")
idh_tot = idh_tot[(idh_tot['IBGE7'].isin(municipios['Cod IBGE']))]
idh_leg = pd.read_csv("Dados/Registros Administrativos/dados_registros_administrativos_LEGENDA.csv")
idh_tot_profile = ProfileReport(idh_tot, title="idh_tot")

In [392]:
idh_tot

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
465,2013,TOTAL,2100907,Araioses,98.52,97.82,1.48,2.18,31.9,55.0,...,NaN,1.13,80.44,23.08,100.0,NaN,NaN,NaN,NaN,44317
653,2013,TOTAL,2112209,Timon,89.97,94.45,10.03,5.55,30.2,39.0,...,100.00,0.34,94.71,5.26,0.0,NaN,NaN,NaN,NaN,161721
667,2013,TOTAL,2200053,Acauã,100.00,100.00,NaN,NaN,33.9,38.6,...,100.00,0.12,54.04,22.22,0.0,NaN,NaN,NaN,NaN,6890
670,2013,TOTAL,2200251,Alagoinha do Piauí,94.01,100.00,5.99,NaN,37.2,43.4,...,1.84,0.03,60.10,33.33,0.0,NaN,NaN,NaN,NaN,7467
671,2013,TOTAL,2200277,Alegrete do Piauí,100.00,100.00,NaN,NaN,33.9,43.9,...,100.00,0.02,53.99,33.33,0.0,NaN,NaN,NaN,NaN,5211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25356,2017,TOTAL,3170651,Vargem Grande do Rio Pardo,100.00,100.00,NaN,NaN,5.9,28.3,...,100.00,0.00,40.05,0.00,0.0,NaN,NaN,NaN,NaN,5032
25359,2017,TOTAL,3170800,Várzea da Palma,92.63,97.33,7.37,2.67,11.7,28.5,...,100.00,0.14,44.16,0.00,0.0,NaN,NaN,NaN,NaN,39128
25360,2017,TOTAL,3170909,Varzelândia,100.00,100.00,NaN,NaN,9.7,32.6,...,76.19,0.01,43.92,9.09,100.0,NaN,NaN,NaN,NaN,19723
25362,2017,TOTAL,3171030,Verdelândia,99.87,100.00,0.13,NaN,8.7,28.9,...,100.00,0.03,38.56,0.00,0.0,NaN,NaN,NaN,NaN,9220
25370,2017,TOTAL,3171600,Virgem da Lapa,96.53,100.00,3.47,NaN,9.2,18.2,...,NaN,0.02,42.53,11.11,0.0,NaN,NaN,NaN,NaN,14043

In [344]:
censo = pd.read_csv("Dados/Censo/Censo_municipal_estadual_nacional-MUN91-00-10.csv")
censo = censo[(censo['Codmun6'].isin(municipios['Cod IBGE']))]
#censo = censo.drop(censo[censo['IDHM'] > 0.4].index).reset_index(drop=True)
censo_siglas = pd.read_csv("Dados/Censo/Censo_municipal_estadual_nacional-Siglas.csv")

In [345]:
columns_to_keep = ['IDHM', 'IDHM_E', 'IDHM_L', 'IDHM_R', 'I_FREQ_PROP', 'I_ESCOLARIDADE']
new_censo = censo[columns_to_keep]

In [381]:
idh_tot

,ANO,DESAGREGACAO,IBGE7,NOME,PMATPUB_EF,PMATPUB_EM,PMATPRI_EF,PMATPRI_EM,DIST_EF_TOTAL,DIST_EM_TOTAL,...,SNIS_CDI,PFOCOS,PFLORA,PFEM_VEREADOR,PFEM_PREFEITO,PFEM_GOVERNADOR,PFEM_DEP_ESTADUAL,PFEM_DEP_FEDERAL,PFEM_SENADOR,POP_TOT
0,2013,TOTAL,1100015,Alta Floresta D&apos;Oeste,99.26,100.00,0.74,NaN,25.8,29.6,...,100.0,0.51,66.02,20.00,0.0,NaN,NaN,NaN,NaN,25728
1,2013,TOTAL,1100023,Ariquemes,91.12,94.80,8.88,5.20,24.5,27.1,...,100.0,0.49,34.67,7.69,0.0,NaN,NaN,NaN,NaN,101269
2,2013,TOTAL,1100031,Cabixi,100.00,100.00,NaN,NaN,18.1,18.7,...,100.0,0.13,32.01,11.11,0.0,NaN,NaN,NaN,NaN,6495
3,2013,TOTAL,1100049,Cacoal,85.55,82.90,14.45,17.10,19.3,24.6,...,100.0,0.13,37.07,8.33,0.0,NaN,NaN,NaN,NaN,85863
4,2013,TOTAL,1100056,Cerejeiras,97.18,97.47,2.82,2.53,21.1,21.1,...,NaN,0.19,63.12,0.00,0.0,NaN,NaN,NaN,NaN,18041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27845,2017,TOTAL,5222005,Vianópolis,94.55,100.00,5.45,NaN,17.6,17.3,...,100.0,0.02,24.14,11.11,0.0,NaN,NaN,NaN,NaN,13675
27846,2017,TOTAL,5222054,Vicentinópolis,100.00,100.00,NaN,NaN,17.6,18.2,...,100.0,0.07,16.75,0.00,0.0,NaN,NaN,NaN,NaN,8397
27847,2017,TOTAL,5222203,Vila Boa,100.00,100.00,NaN,NaN,25.7,34.5,...,NaN,0.16,52.27,33.33,0.0,NaN,NaN,NaN,NaN,5731
27848,2017,TOTAL,5222302,Vila Propício,100.00,100.00,NaN,NaN,17.2,27.4,...,NaN,0.33,45.80,11.11,0.0,NaN,NaN,NaN,NaN,5690
27849,2017,TOTAL,5300108,Brasília,73.62,74.95,26.38,25.05,16.7,24.6,...,100.0,1.25,51.32,NaN,NaN,NaN,NaN,NaN,NaN,3039444

In [380]:
censo[(censo['Codmun6'].isin([260280, 260700, 230810, 270840]))].sort_values(by='ANO').sort_values(by=['Município'])

,ANO,UF,Codmun6,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA1517,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R
1493,1991,26,260280,2602803,BUÍQUE,61.01,6.46,66.11,86.92,97.78,...,NaN,NaN,38051,37641,0.068,0.093,0.275,0.084,0.600,0.411
7058,2000,26,260280,2602803,BUÍQUE,66.49,3.98,51.32,56.90,82.75,...,3635.0,24031.0,44622,39018,0.093,0.249,0.377,0.179,0.692,0.434
12623,2010,26,260280,2602803,BUÍQUE,69.75,2.88,27.70,29.81,70.85,...,3474.0,30718.0,51801,49892,0.224,0.524,0.527,0.395,0.746,0.497
1540,1991,26,260700,2607000,INAJÁ,57.61,5.50,82.36,107.26,100.03,...,NaN,NaN,10598,10529,0.095,0.129,0.298,0.116,0.544,0.419
7105,2000,26,260700,2607000,INAJÁ,60.81,3.35,79.03,87.34,83.39,...,930.0,6722.0,12462,10088,0.162,0.293,0.404,0.240,0.597,0.460
12670,2010,26,260700,2607000,INAJÁ,67.66,2.64,34.50,37.17,65.84,...,1337.0,11152.0,19023,18104,0.289,0.471,0.523,0.400,0.711,0.503
998,1991,23,230810,2308104,MAURITI,62.73,5.74,57.17,75.20,92.36,...,NaN,NaN,34196,33474,0.093,0.087,0.278,0.089,0.629,0.383
6563,2000,23,230810,2308104,MAURITI,68.60,3.75,37.93,49.01,76.49,...,2543.0,21718.0,38317,36461,0.170,0.294,0.445,0.245,0.727,0.495
12128,2010,23,230810,2308104,MAURITI,71.32,2.30,22.70,24.41,57.19,...,2912.0,28743.0,44153,43504,0.364,0.632,0.605,0.526,0.772,0.544
1738,1991,27,270840,2708402,SÃO JOSÉ DA TAPERA,50.97,6.67,113.60,141.67,105.51,...,NaN,NaN,26861,26719,0.045,0.067,0.204,0.059,0.433,0.332
7303,2000,27,270840,2708402,SÃO JOSÉ DA TAPERA,59.35,4.57,67.40,84.99,99.51,...,2164.0,13264.0,27722,20217,0.087,0.194,0.319,0.148,0.573,0.384
12868,2010,27,270840,2708402,SÃO JOSÉ DA TAPERA,67.20,2.83,39.20,42.72,76.72,...,2248.0,16658.0,29956,29248,0.238,0.536,0.527,0.409,0.703,0.508

In [379]:
cod_municipios = [260280, 260700, 230810, 270840]
last_values = censo[~censo['Codmun6'].isin(cod_municipios)].sort_values(by='ANO').sort_values(by=['Município']).groupby('Codmun6').last().reset_index()
first_values = censo[censo['Codmun6'].isin(cod_municipios)].sort_values(by='ANO').sort_values(by=['Município']).groupby('Codmun6').first().reset_index()

new_censo = pd.concat([first_values, last_values])
new_censo.reset_index(drop=True, inplace=True)

In [349]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X = new_censo.copy()
X.drop(columns=['Município', 'UF', 'ANO', 'Codmun6', 'Codmun7'], inplace=True)
X.fillna(0, inplace=True)
X = scaler.fit_transform(X)

In [368]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=13)
kmeans.fit(X)
new_censo['Classe'] = kmeans.labels_

In [369]:
new_censo['Classe'].value_counts()

1     194
12    185
3     185
8     172
5     171
9     160
7      82
11     57
0      48
10     12
4       8
2       3
6       1
Name: Classe, dtype: int64

In [370]:
new_censo[(new_censo['Codmun6'].isin([260280, 260700, 230810, 270840]))].sort_values(by='ANO').sort_values(by=['Classe'])

,Codmun6,ANO,UF,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R,Classe
0,230810,1991,23,2308104,MAURITI,62.73,5.74,57.17,75.20,92.36,...,21718.0,34196,33474,0.093,0.087,0.278,0.089,0.629,0.383,8
1,260280,1991,26,2602803,BUÍQUE,61.01,6.46,66.11,86.92,97.78,...,24031.0,38051,37641,0.068,0.093,0.275,0.084,0.600,0.411,8
2,260700,1991,26,2607000,INAJÁ,57.61,5.50,82.36,107.26,100.03,...,6722.0,10598,10529,0.095,0.129,0.298,0.116,0.544,0.419,8
3,270840,1991,27,2708402,SÃO JOSÉ DA TAPERA,50.97,6.67,113.60,141.67,105.51,...,13264.0,26861,26719,0.045,0.067,0.204,0.059,0.433,0.332,8

In [371]:
new_censo[(new_censo['Classe'].isin([8]))].sort_values(by='ANO').sort_values(by=['IDHM'])

,Codmun6,ANO,UF,Codmun7,Município,ESPVIDA,FECTOT,MORT1,MORT5,RAZDEP,...,PIA18M,POP,POPT,I_ESCOLARIDADE,I_FREQ_PROP,IDHM,IDHM_E,IDHM_L,IDHM_R,Classe
214,221170,1991,22,2211704,WALL FERRAZ,54.56,5.14,93.85,121.03,91.98,...,2839.0,3616,3601,0.010,0.020,0.130,0.016,0.493,0.277,8
132,220635,1991,22,2206357,MILTON BRANDÃO,54.74,3.83,92.85,119.83,100.36,...,3613.0,6035,5548,0.005,0.032,0.133,0.017,0.496,0.278,8
403,240165,1991,24,2401651,BODÓ,55.55,5.80,91.09,117.80,86.05,...,1630.0,2753,2753,0.028,0.011,0.136,0.015,0.509,0.329,8
108,220455,1991,22,2204550,GUARIBAS,54.59,6.42,93.68,120.84,122.90,...,1653.0,2702,2680,0.008,0.024,0.141,0.017,0.493,0.331,8
76,220265,1991,22,2202653,CAXINGÓ,56.66,6.71,82.25,106.79,103.07,...,3086.0,3499,3483,0.007,0.024,0.142,0.016,0.528,0.341,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,251200,1991,25,2512002,POCINHOS,58.38,3.88,74.87,97.46,83.69,...,9031.0,14440,14302,0.134,0.140,0.318,0.138,0.556,0.419,8
540,250053,1991,25,2500536,ALCANTIL,61.08,4.34,61.90,81.17,91.40,...,3512.0,4001,3845,0.088,0.152,0.321,0.127,0.601,0.435,8
703,251520,1991,25,2515203,SÃO SEBASTIÃO DO UMBUZEIRO,56.02,4.18,87.45,113.02,81.58,...,1823.0,2650,2634,0.118,0.169,0.322,0.150,0.517,0.431,8
325,230880,1991,23,2308807,MORAÚJO,59.78,4.18,70.75,92.33,91.38,...,3992.0,6071,6063,0.120,0.152,0.323,0.140,0.580,0.414,8
289,230560,1991,23,2305605,INDEPENDÊNCIA,61.99,3.70,60.42,79.32,81.43,...,15648.0,23942,23778,0.122,0.144,0.326,0.136,0.617,0.413,8